# To install "pip3 install -r requirements.txt"
apispec_webframeworks
apispec
extensions
flask
marshmallow
shapely
# Must be 1.22.0 or higer because of CVE 
# https://github.com/numpy/numpy/issues/18939
numpy>=1.22.0
haversine
SQLAlchemy>-1.4.32